:root {
    /* defines the colors of the variables */
    --backgroundColor-default: #1a1949;
    --backgroundColor-incorrect: #81000f;
    --backgroundColor-correct: #00812b;
}
nav {
    background-color: #328cd6;
}
body {
    background-color: #1a1949;
}

.jumbotron {
    background-color: #e5e5f0;
    border-radius: 25px;
}
.btn:hover {
    border-color: black;
}
/* class to assign button if answered incorrectly */
.btn.incorrect {
    background-color: var(--backgroundColor-incorrect);
}
/* class to assign button if answered correctly */
.btn.correct {
    background-color: var(--backgroundColor-correct);
}

.hide {
    display: none;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #328cd6;
    border-top: solid black;
    color: black;
}
